.menu_footer {
    bottom: 0;
    font-family: Marcellus;
    font-size: 14px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

@media (min-width: 768px) {
    .menu_footer {
        flex-direction: row;
    }
}

.menu_footer a {
    color: var(--text-color-2);
    text-decoration: none;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .menu_footer a {
        margin-bottom: 0;
    }
}