.tiger-output {
	background-color: var(--editor-bg);
	border: 1px solid var(--editor-border);
	color: var(--editor-text);
	padding: 10px;
	min-height: 100px;
	border-radius: 6px;
	font-family: monospace;
	white-space: pre-wrap;
	overflow-x: auto;
	margin-bottom: 3rem;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}